<section>
    <div class="container">

        <h4>Ordered Items </h4>
        <div class="container">
            <table class="table mt-5">
                <thead>

                    <tr>
                        <th>Date</th>
                        <th>Mobile</th>
                        <th>Address</th>
                        <th>Total</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each orders}}
                    <tr>
                        <td>{{this.date}}</td>
                        <td>{{this.dliveryDeatails.mobile}}</td>
                        <td>{{this.dliveryDeatails.address}}</td>
                        <td>{{this.totalAmount}}</td>
                        <td>{{this.status}}</td>
                        <td> <a href="/view-orders-products/{{this._id}}"> <button class="btn btn-info">View product</button> </a> </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>


        </div>
    </div>
</section>